* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.generator {
    display: block;
    align-items: center;
    padding: 15px;
    text-align: center;
}

#random-name {
    font-size: 35px;

}

body {
    background-color: grey;
}

@font-face {
    font-family: 'EnglishTowne';
    src: url('EnglishTowne.ttf'), url('EnglishTowne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}