* {
    padding: 0;
    margin: 0;

}

.logo {
    height: 30%;
    margin-top: 40px;
}

body {
    background: url('./img/maxresdefault.jpg') no-repeat;
    background-size: 100%;
}


.generator {

    padding-top: 30px;
    margin-top: 10%;
    margin-bottom: 80px;
    height: 400px;
    width: auto;
    text-align: center;
    background: url("./img/pngwing.com.webp") top no-repeat;
    background-size: 800px 370px;
}

#random_name {
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'New Rocker', cursive;

}


.list {
    cursor: pointer;
    width: 10%;
    height: auto;
    padding: 5px;
    display: inline;
}

.list:hover {
    width: 10.5% ;
    transition: 0.3s;
    filter: contrast(1.5) drop-shadow(0 0 15px red);
}

