* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: inline;
    background-image: url('./img/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 2000px;

}

.generator {
    text-align: center;
    padding-top: 80px;
    background-image: url('./img/papiro.png');
    background-repeat: no-repeat;
    background-position:20px 115px;
    background-size: 90% 80%;
}

.logo {
    filter: drop-shadow(1px 0 0 rgba(0, 0, 0, 0.411));
    max-width: 65%;
    padding-top: 30%;
}

#random_name {
    font-family: 'New Rocker', cursive;
    font-size: 4vw ;
    margin-top: 5%;
    margin-bottom:5%;
    text-align: center;
}

.button {
    width: 8em;
    position: relative;
    left: 34%;
    padding-bottom: 20%;
    text-align: center;
}


.button1:hover {
    transition: 0.3s;
    filter: contrast(1.5) drop-shadow(0 0 15px red);
}

.button2:hover {
    transition: 0.3s;
    filter: contrast(1.5) drop-shadow(0 0 15px red);
}


.button3:hover {
    transition: 0.3s;
    filter: contrast(1.5) drop-shadow(0 0 15px red);
}

